{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background: linear-gradient(to right, #0099ff 0%, #ffff66 100%);">
    <div class="container-sm" style="margin-top: 10vh;">
        <center>
            <h1 style="font-family: fantasy;">Please Login!</h1>
            <br>
            <form action='/' method= 'POST'>
                {% csrf_token %}
                <div class="input-group input-group-lg" style="width: 30vw;">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-lg"><b>Username</b></span>
                    </div>
                    <input type="text" name='username' class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder= "Enter Username" required>
                </div>
                <div class="input-group input-group-lg" style="width: 30vw;">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-lg" style="width: 10vw;"><b>Password</b></span>
                    </div>
                    <input type="password" name='password' class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder= "Enter Password" required>
                </div>
                <br>
                <button type="submit" class="btn btn-light" style="width: 7vw;"><h5 style="font-family: fantasy;">Login</h5></button>
            </form>

        </center>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
